<form class="add-movie-form">
    <div class="field">
        <input class="input is-normal" type="text" placeholder="Title">
        <input class="input is-normal" type="text" placeholder="Release Date">
        <input class="input is-normal" type="text" placeholder="Genre">
        <input class="input is-normal" type="text" placeholder="Rating">
    </div>
</form>
    <form class="has_seen_form">
  <div class="field">
    <input type="checkbox" id="has_seen" name="has_seen" value="true" class="is-checkradio is-circle" />
    <label for="has_seen">Have you seen this movie?</label>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-primary">Submit</button>
    </div>
  </div>
</form>