<section class="card">
  <a href="/movie/{{movie.id}}" id="movieLink">
  <header>{{movie.title}}</header></a>
  <p>{{movie.genre}}<br>{{movie.rating}}</p>
      {{#if has_seen}}
      <p class="has-seen">
        Previously Watched
      </p>
    {{/if}}
</section>

<form class="has-seen-form">
  <div class="field">
    <input type="checkbox" id="has_seen" name="has_seen" value="true" class="is-checkradio is-circle" />
    <label for="has_seen">Have you seen this movie?</label>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-primary">Submit</button>
    </div>
  </div>
</form>
<script src="/js/movies.js"></script>