<header>
    <h1 class="is-size-1">Where you come to find your movies!</h1>
  </header>
  <main>
    <aside>
      <h2 class="is-size-3">Movies</h2>
    </aside>

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody id="movie-table-body">
        {{#each movies}}
        <tr>
        <td>{{title}}</td>
        <td>{{release_date}}</td>
        <td>{{genre}}</td>
        <td>{{rating}}</td>
    </tr>
    {{/each}}

    </tbody>
</table>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="/js/movies.js"></script>
