<table id="movie-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
      <th>Genre</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody id="movie-table-body">
  </tbody>
</table>

<script id="movie-partial" type="text/x-handlebars-template">
  <tr>
    <td>{{title}}</td>
    <td>{{release_date}}</td>
    <td>{{genre}}</td>
    <td>{{rating}}</td>
  </tr>
</script>

<script src="./js/movies.js"></script>
